[color]
        ui = auto
[user]
        name = Dimitris Sarlis
        email = dimitris@dfinity.org
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[alias]
        co = checkout
        ci = commit
        st = status
    br = branch
    rb = rebase
    update = fetch -p && git merge origin/master
    hist = log --pretty=format:"%h%x09%an%x09%ad%x09%s" --graph --date=short --first-parent
        type = cat-file -t
        dump = cat-file -p
        info = diff HEAD^ HEAD
    amend = commit --amend
    lol = log
    sh = stash
    del = branch -D
[rerere]
        menabled = true
        enabled = true
[http]
        postBuffer = 500M
[core]
        editor = nano
        symlinks = true

